.cart {
    display: flex;
    justify-content:space-between;
    background-color: rgb(253, 253, 248);
    margin-top: 0;
    height: 800px;
}

.cart-img {
    height: 800px;
    width: 600px;
    margin-left: 275px;
    
}

.logo{
    height: 150px;
    width: 250px;
    margin-left:300px;

}

.carttitle {
    display: flex;
    background-color: rgb(174, 168, 168);
    height: 70px;
    width: 300px;
    margin-left: 300px;
    border-radius: 10px;
}

.carttitle img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 5px;
}

.ctitle{
    width: 250px;
    margin-left: 10px;
    margin-top: 25px;
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



